* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}

body {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    background-color: white;
}

.home-page {
    display: flex;
    justify-content: center;
    margin: 85px 60px;
    padding: 25px 30px;
    line-height: 1.3;
}

.pic-me {
    width: auto;
    height: 250px;
    border-radius: 100%;
    margin-right: 20px;
    border: 3px solid black;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contact-nav {
    display: flex;
    justify-content: flex-end;
}

.top-nav {
    display: flex;
    align-items: center;
    height: 5%;
    gap: 50px;
    margin-top: 40px;
    margin-right: 40px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    border-radius: 5px;
}

.nav-links {
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.nav-links:hover {
    color: gray;
}

.button{
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
    color: white;
}

.button:hover {
    color: gray;
}

.modal {
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9)
}

.modal-content {
    background-color:;
    padding: 20px;
    width: 60%;
        margin: 150px auto;
    color: white;
    text-align: center;
    font-size: 25px;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#resumeImg {
    width: 100%;
}

.contact-page {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.9);
}

.contact-modal {
    height: 350px;
    width: 550px;
    margin: 150px auto;
    color: white;
    font-size: 25px;
}

.contact-modal h2 {
    font-size: 40px;
    padding-bottom: 10px;
}

.contact-modal p {
    font-size: 20px;
    padding-bottom: 10px;
}

.info-box {
    margin: 5px;
}

#email {
    width: 248px;
}

.submit-btn {
    margin: 5px;
    font-size: 15px;
    display: flex;
}

.submit-btn:hover {
    color: gray;
}

.closeBtn2 {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn2:hover, .closeBtn2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.web-pages {
    width: 100%;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container a {
    font-weight: 800;
    font-size: 2.5em;
    margin-top: 12%;
    padding-bottom: 20px;
} 

.carousel-container {
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding-bottom: 100px;
}

.project-images {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px;
    background: gray;
}

.project-images img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.project-images img:first-of-type {
    display: block;
}

.carousel-button {
    align-self: center;
    padding: 10px;
    background: black;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

.carousel-button:hover {
    cursor: pointer;
    background: gray;
}

.bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    position: fixed;
    bottom: 0;
}

.social-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
}

.social-icon:hover {
    color: gray;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
