* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}

body {
    height: 50vh;
    /* background-image: url("/pictures/yang-shuo-uYHYGgvkz_Y-unsplash.jpg");
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    font-family: 'Bebas Neue', cursive;
    background: lightgray;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
    margin-right: 40px;
}

.nav-links {
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
    color: black;
}

.nav-links:hover {
    color: gray;
}

.button{
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
    color: black
}

.button:hover {
    color: gray;
}

.modal {
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
}

.modal-content {
    background-color:;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    color: white;
    text-align: center;
    font-size: 25px;
}

#resumeImg {
    width: 100%;
}

.contact-page {
    display: none;
    background-color: gray;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba (0,0,0,0.5);
}

.contact-modal {
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    color: black;
    font-size: 25px;
}


.contact-modal h2 {
    font-size: 40px;
    padding-bottom: 10px;
}

.contact-modal p {
    font-size: 20px;
    padding-bottom: 10px;
}

.info-box {
    margin: 5px;
}

#email-bar {
    width: 248px;
}

.submit-btn {
    margin: 5px;
    font-size: 15px;
    display: flex;
}

.submit-btn:hover {
    color: gray;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carousel-container {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.web-pages {
    width: 100%;
    border-radius: 10px;
    /* display: none; */
}

.web-pages #webpage:first-of-type {
    display: block;
}

.carousel-button {
    display: flex;
    margin: 100px;
    align-self: center;
    background: black;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
}

.carousel-button:hover {
    cursor: pointer;
    background: gray;
}

.home-page {
    display: flex;
    justify-content: center;
    margin: 85px 60px;
    padding: 25px 30px;
    line-height: 1.3;
}

.pic-me {
    width: auto;
    height: 250px;
    border-radius: 100%;
    margin-right: 20px;
    border: 3px solid black;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contact-nav {
    display: flex;
    justify-content: flex-end;
}

.bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}

.social-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
}

.social-icon:hover {
    color: gray;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
