* {
    box-sizing: border-box;
}
/* 
html {
    background: url(pictures/mountain.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

} */


body {
    height: 100vh;
    background-image: url("/pictures/yang-shuo-uYHYGgvkz_Y-unsplash.jpg");
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
}

/* #nav-bar {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
} */

.top-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

.button{
        text-decoration: none;
        transition: color 0.2s;
        font-size: 20px;
        color: black
}

.button:hover {
    color: gray;
}

.nav-links {
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
    color: black;
}
.nav-links:hover {
    color: gray;
}

.modal {
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#home-page {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 40px 60px;
    padding: 25px 30px;
    line-height: 1.3;
}

.pic-me {
    width: auto;
    height: 250px;
    border-radius: 100%;
    margin-right: 20px;
}

.aboutme {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.bottom-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
}

.social-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
}

.social-icon:hover {
    color: gray;
}

.carousel-images {
    display: none;
}

.carousel-images img:first-of-type {
    display: block;
}